.tasks {
    height: 100%;
    padding: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.taskContainer{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 100px;
}
.daily,.todayTasks{
    display: flex;
    flex-direction: column;
    align-items: center;
}